<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="isaac_twin">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import isaac_twin urdf file -->
    <xacro:include filename="$(find isaac_sim_demo)/urdf/4_drones_copy_2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="isaac_twin.ros2_control.xacro" />


    <xacro:isaac_twin_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
