<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="isaac_twin_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="spherical_1_x">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_1_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_1_y">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_1_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_1_z">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_1_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_2_x">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_2_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_2_y">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_2_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_2_z">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_2_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_3_x">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_3_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_3_y">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_3_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_3_z">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_3_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_4_x">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_4_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_4_y">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_4_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="spherical_4_z">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['spherical_4_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
